/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

  @font-face {
    font-family: "HKGrotesk";
    font-weight: 500;
    src: url("/fonts/HKGrotesk-Regular.woff2") format("woff2");
   }

  @font-face {
    font-family: "HKGrotesk";
    font-weight: 300;
    src: url("/fonts/HKGrotesk-Light.woff2") format("woff2");
   }

  @font-face {
    font-family: "HKGrotesk";
    font-weight: bold;
    src: url("/fonts/HKGrotesk-Bold.woff2") format("woff2");
   }

:root {

    --ifm-font-family-base: HKGrotesk, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 300;

    --ifm-color-primary: #5a8296;
    --ifm-color-primary-dark: #517587;
    --ifm-color-primary-darker: #4d6e80;
    --ifm-color-primary-darkest: #3f5b69;
    --ifm-color-primary-light: #658ea3;
    --ifm-color-primary-lighter: #6d94a7;
    --ifm-color-primary-lightest: #83a4b5;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

iframe {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border-style: none;
}

